* {
  box-sizing: border-box;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--c-surface);
  color: var(--c-text);
  display: flex;
  flex-direction: column;
  font-family: var(--ff-body);
  font-size: 16px;
  line-height: 1.2;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

a {
  color: var(--c-link);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

div[id="curated"] {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  min-height: 100dvh;
  width: 100%;
}

curated-theme-toggle button {
  align-items: center;
  appearance: none;
  background-color: transparent;
  border: none;
  color: var(--c-text);
  cursor: pointer;
  display: flex;
  height: 1.5rem;
  justify-content: center;
  width: 1.5rem;
}
